package {{ .PageName }}

import (
	"net/http"

	"github.com/rur/treetop"
	"{{ .Namespace }}/app"
)

{{ range $index, $handler := .Handlers }}
// {{ $handler.Info }} {{ $handler.Type }}{{ if $handler.Extends }}
// Extends: {{ $handler.Extends }}{{ end }}{{ if $handler.Doc }}
// Doc: {{ $handler.Doc }}
{{- end }}{{ if len $handler.Blocks}}
func {{ $handler.Identifier }}(rsc app.Resources, rsp treetop.Response, req *http.Request) interface{} {
	return  struct {
		HandlerInfo string{{ range $index, $block := .Blocks }}
		{{ $block.FieldName }} interface{}
		{{- end }}
	}{
		HandlerInfo: "{{ $handler.Info }}",{{ range $index, $block := .Blocks }}
		{{ $block.FieldName }}: rsp.HandlePartial("{{ $block.Name }}", req),
		{{- end }}
	}
}{{ else }}
func {{ $handler.Identifier }}(rsc app.Resources, rsp treetop.Response, req *http.Request) interface{} {
	return  "{{ $handler.Info }} template data here!"
}{{ end }}
{{ end }}
