<div id="form-message">
    <div class="alert alert-warning">
    	<h6 class="alert-title">Not Implemented</h6>
    	<p class="alert-body">Creating a new Help Desk ticket has not been implemented yet</p>
    </div>
</div>