<div id="form-message">
	{{ if eq .Level 0 }}
	<div class="alert alert-info">
		<h6 class="alert-title">{{ .Title }}</h6>
		<p class="alert-body">{{ .Message }}</p>
	</div>
	{{ end }}
	{{ if eq .Level 1 }}
	<div class="alert alert-warning">
		<h6 class="alert-title">{{ .Title }}</h6>
		<p class="alert-body">{{ .Message }}</p>
	</div>
	{{ end }}
	{{ if eq .Level 2 }}
	<div class="alert alert-danger">
		<h6 class="alert-title">{{ .Title }}</h6>
		<p class="alert-body">{{ .Message }}</p>
	</div>
	{{ end }}

</div>