<div id="content">
	<hr>
	<h3>Create a new issue <span class="badge badge-warning">WIP</span></h3>
  	<section class="mt-3 mb5">
	<p>A more involved HTML form workflow.</p>

    <div class="d-none" id="error-message"></div>

	<form id="issue" treetop>
		<div class="form-group row">
			<label for="inputTitle" class="col-sm-2 col-form-label">Summary</label>
			<div class="col-sm-10">
				<input autofocus="autofocus" required type="summary" class="form-control" id="inputTitle" placeholder="Issue Title">
			</div>
		</div>
		<div class="form-group row">
			<label for="projectSelect" class="col-sm-2 col-form-label">Department</label>
			<div class="col-sm-10">
				<select class="form-control" id="projectSelect" name="department" onchange="document.getElementById('update-department').click()" formnovalidate required="required">
					<option value="helpdesk">Helpdesk</option>
					<option value="software">Software Development</option>
					<option value="systems">Systems & IT</option>
				</select>
				<button class="d-none" id="update-department" treetop-submitter formnovalidate formaction="/ticket/get-form"></button>
			</div>
		</div>

		{{ template "form" .Form}}

	</form>
	</section>
</div>

{{ define "treetop-config" }}
<script>
    // activate treetop with defaults
    window.TREETOP_CONFIG = true;
</script>
{{ end }}