<div id="form">
	<div class="form-group row">
		<label for="ticketTypeFormSelect" class="col-sm-2 col-form-label">Issue Type</label>
		<div class="col-sm-10">
			<select class="form-control" name="ticket-type" id="ticketTypeFormSelect" onchange="treetop.submit(forms.getFormForm)" required="required">
				<option>Task</option>
				<option>Bug</option>
				<option>Epic</option>
				<option>Wish List</option>
			</select>
		</div>
	</div>
	<div class="form-group row">
		<label for="inputTitle" class="col-sm-2 col-form-label">Title</label>
		<div class="col-sm-10">
			<input autofocus="autofocus" type="title" class="form-control" id="inputTitle" placeholder="Ticket Title">
		</div>
	</div>
	<fieldset class="form-group">
		<div class="row">
			<legend class="col-form-label col-sm-2 pt-0">Assignee</legend>
			<div class="col-sm-10">
				<div class="form-check">
					<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
					<label class="form-check-label" for="gridRadios1">
						Assign to me
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
					<label class="form-check-label" for="gridRadios2">
						Assign to someone else
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
					<label class="form-check-label" for="gridRadios3">
						Create Unassigned
					</label>
				</div>
			</div>
		</div>
	</fieldset>

	<div class="form-group row">
		<label class="col-sm-2 col-form-label">Attachments</label>
		<div class="col-sm-10">
			<div class="input-group">
				<div class="custom-file">
					<input name="attachments" type="file" class="custom-file-input" id="inputGroupFile02" multiple>
					<label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose file</label>
				</div>
				<div class="input-group-append">
					<button treetop-submitter name="button" value="upload" type="button" formmethod="POST" formenctype="multipart/form-data" formaction="/test" class="input-group-text" id="inputGroupFileAddon02">Upload</button>
				</div>
			</div>

		</div>
	</div>

	<div class="form-group row">
		<div class="col-sm-2">After</div>
		<div class="col-sm-10">
			<div class="form-check">
				<input class="form-check-input" type="radio" name="after" id="after2" value="view-ticket" checked>
				<label class="form-check-label" for="after2">
					View newly created issue
				</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="radio" name="after" id="after1" value="create-another">
				<label class="form-check-label" for="after1">
					Create another ticket
				</label>
			</div>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-12 text-right">
			<a href="/ticket/software/new" title="Clear form an start again" class="btn btn-muted">Reset</a>
			<button type="submit" class="btn btn-primary">Create Ticket</button>
		</div>
	</div>
</div>