<div id="find-user">
	{{ if .Results }}
	<p class="text-muted mt-3 mb-2 font-italic">Select a user:</p>
	<div class="list-group">
		{{ range $index, $result := .Results }}
		<button type="button" treetop-submitter formaction="/ticket/helpdesk/update-reported-by" name="reported-by-user" value="{{ $result }}" formnovalidate class="list-group-item list-group-item-action">{{ $result }}</button>
		{{ end }}
	</div>

	{{ else }}
	{{ if .QueryString }}
	<p class="text-muted">No users found for query '{{ .QueryString }}'</p>
	{{ else }}
	<p class="text-muted">Type a name of find a user.</p>
	{{ end }}
    <input class="hide" required type="text" onkeydown="return false" name="reported-by-user" value="">
	{{ end }}
</div>