<div id="component-tags" class="form-group row">
	<label for="tags-input" class="col-sm-3 col-form-label">Components</label>
	<div class="col-sm-9 position-relative">
		<div class="px-3 py-2 border d-flex flex-wrap rounded" click-on-input="find-tag-submitter">
			{{ range $index, $tag := .Tags }}
			<span remove-me=".remove-tag" class="rounded px-2 py-1 bg-light border border-primary text-primary small mt-1 mb-1 mr-1">{{ $tag }}
				<a class="remove-tag pointer ml-1" aria-label="Remove tag"><span aria-hidden="true">×</span></a><input type="hidden" name="tags" value="{{ $tag }}"></span>
			{{- end }}

			<input style="flex: auto" type="search" name="tag-query" class="border border-white px-1 my-1 w-25" placeholder="find a tag" enter-submitter="find-tag-submitter"{{ if .AutoFocus }} autofocus{{ end }} autocomplete="off">
			<button class="d-none" id="find-tag-submitter" treetop-submitter formnovalidate formmethod="GET" formaction="/ticket/systems/find-tag"></button>
		</div>
		{{ block "tag-search" .TagSearch }}
		<div id="tag-search" class="d-none"></div>
		{{ end }}
	</div>
</div>
