{{ if .Query }}
<div id="tag-search">
	<div style="position: absolute;top: 100%;z-index: 100;left: 2.5rem;right: 2.5rem;display: block;margin-top: -7px;" dismiss-me>
		<div class="card shadow bg-light">
			<div class="card-body">
				{{ if .Results }}
				<p class="text-muted mb-2 font-italic small">Tags matching query '{{ .Query }}':</p>
				<div class="list-group">
					{{- range $index, $tag := .Results }}
					<button type="button" treetop-submitter formaction="/ticket/systems/update-tags" name="add-tag" value="{{ $tag }}" formnovalidate class="list-group-item list-group-item-action">{{ $tag }}</button>
					{{- end }}
				</div>
				{{ else }}
				<div class="text-muted font-italic">No tags found for query '{{ .Query }}'</div>
				{{ end }}
			</div>
		</div>
	</div>
</div>
{{ else }}
<div id="tag-search" class="d-none"></div>
{{ end }}