<div id="content">
	<hr>
	<div class="container">
		<h3 class="mb-3">Example Ticket</h3>
		<p>This is a preview of the issue information created by the form</p>

	    {{ template "preview" .Preview }}
	</div>
</div>