<div id="notes" class="mt-3 border rounded bg-light text-muted p-3 small mb-5">
	<h6 class="muted">Notes:</h6>
	<ul class="list-group list-group-flush">
		<li class="list-group-item bg-light">Takes advantage of the modern HTML form features like submitters and validation <sup>[<a href="https://html.spec.whatwg.org/#forms" target="_blank">spec</a>]</sup></li>
		<li class="list-group-item bg-light">Full-page and template requests can be combined to advance the user through the process</li>
		<li class="list-group-item bg-light">Granular conditions and transitions are challenging for a traditional web page</li>
		<li class="list-group-item bg-light">Ticket use case requires a lot of server-side logic: store files, find a user, user-role logic and warnings, etc...</li>
		<li class="list-group-item bg-light">URL encoding and 'replace state' makes a multi-stage process easier to manage</li>
	</ul>
</div>