<div id="notes" class="mt-3 border rounded bg-light text-muted p-3 small mb-5">
	<h6 class="muted">Notes:</h6>
	<ul class="list-group list-group-flush">
		<li class="list-group-item bg-light">Takes advantage of the modern features of HTML forms like submitters and validation <sup>[<a href="https://html.spec.whatwg.org/#forms" target="_blank">spec</a>]</sup></li>
		<li class="list-group-item bg-light">Combination of full-page and template requests to advance the user through the process</li>
		<li class="list-group-item bg-light">Challenging workflow for traditional web navigation with conditions and transitions</li>
		<li class="list-group-item bg-light">Server queries are beneficial for this use case: stash a file, find a user, role-based logic and warnings, etc...</li>
		<li class="list-group-item bg-light">Aggregate values in URL encoded form data</li>
	</ul>
</div>