<div id="content">
  <hr>
  <div class="container">
  <h3>Edit in Place</h3>
  <section class="mt-3 mb5">
    <p>Load a mini-form to edit text fields in place.</p>

    <div class="d-none" id="error-message"></div>

    <div class="card">
      <h5 class="card-header">User Profile</h5>
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col-md-6 mb-3">
              {{ template "first-name" .FirstName }}
            </div>

            <div class="col-md-6 mb-3">
              {{ template "surname" .Surname }}
            </div>
          </div>

          <div class="mb-3">
            {{ template "email" .Email }}
          </div>

          <div class="mb-3">
            {{ template "country" .Country }}
          </div>

          <div class="mb-3">
            {{ template "description" .Description }}
          </div>

        </div>
      </div>
    </div>

    <div id="notes" class="mt-5 border rounded bg-light text-muted p-3 small mb-5">
      <h6 class="muted">Notes:</h6>
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-light">XHR form submit, see url query parameters.</li><li class="list-group-item bg-light">Notice that the input cursor has not lost its focus or position.</li><li class="list-group-item bg-light">A history state was pushed, try using browser back and forward button.</li><li class="list-group-item bg-light">These notes were 'included' with the message template. Check your network inspector for details.</li>
      </ul>
    </div>
  </section>
  </div>

</div>

{{ define "treetop-config" }}
<script>
  window.TREETOP_CONFIG = {
    mountAttrs: {
      // autofocus attribute component will cause an input element
      // to be focused and have the cursor placed at the end of the input
      "autofocus": (emt) => {
        emt.focus()
        setTimeout(function(){ emt.selectionStart = emt.selectionEnd = 10000; }, 0);
      }
    }
  }
</script>
{{ end }}