<div id="find-assingee-user">
{{ if eq .Assignee "user-name" }}
    {{ if .AssignedUser }}
    <p>Assigned user: <span class="pill">{{ .AssignedUser }}</span> <button treetop-link="/ticket/get-assignee?assignee=user-name">[x]</button> </p>
    {{ else }}
    <div class="input-group">
        <input autofocus enter-submitter="assignee-find-user" type="text" class="form-control" name="user-query">
        <div class="input-group-append"><button id="assignee-find-user" treetop-submitter formnovalidate formaction="/ticket/find-user" name="query-result-target" value="search-assignee-results">Find User</button></div>
    </div>
    <div id="search-assignee-results">
        <p class="text-muted small">Enter a query to find a user</p>
    </div>
    {{ end }}
    <input class="hide" onkeypress="return false;" type="text" required name="assigned-user" value="{{ .AssignedUser }}">
{{ end }}
{{ if eq .Assignee "myself" }}
    <div class="alert alert-warning my-3" role="alert">
      <strong>Note:</strong> Triage will be skipped
    </div>
{{ end }}
</div>