<div id="form" class="mb-5 pb-5">

	{{/* required */}}{{ template "reported-by" .ReportedBy }}

	<div class="form-group row">
		<label for="urgency-input" class="col-sm-3 col-form-label">Urgency</label>
		<div class="col-sm-9">
			<select class="form-control" name="urgency" id="urgency-input" required="required">
				<option value="critical">Critical (hint: try submitting this)</option>
				<option value="major">Major</option>
				<option selected value="normal">Normal</option>
				<option value="minor">Minor</option>
			</select>
		</div>
	</div>

	<div class="form-group row">
		<label for="description-textarea" class="col-sm-3 col-form-label">Description</label>
		<div class="col-sm-9">
			<textarea name="description" id="description-textarea" cols="30" rows="10" class="form-control">{{ .Description }}</textarea>
		</div>
	</div>

	<div class="form-group row">
		<label class="col-sm-3 col-form-label">Attachments</label>
		<div class="col-sm-9">
			<div class="custom-file mb-2" click-on-change="upload-selected-attachment">
				<input name="file-upload" type="file" class="custom-file-input" id="inputGroupFile02" multiple limit-upload-file-mb="1MB">
				<label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose file</label>
			</div>
			<button class="d-none" id="upload-selected-attachment" treetop-submitter formnovalidate formmethod="POST" formenctype="multipart/form-data" formaction="/ticket/helpdesk/upload-attachment"></button>

			{{/* required */}}{{ template "attachment-list" .UploadFileList }}
		</div>
	</div>

	{{ block "form-message" .FormMessage }}<div id="form-message" class="d-none"></div>{{ end }}

	<div class="forim-group row py-3">
		<div class="col-sm-12 text-right">
			<a href="/ticket" title="Clear form an start again" class="btn btn-muted">Reset</a>
			<button type="submit" treetop-submitter formaction="/ticket/helpdesk/submit" formmethod="POST" class="btn btn-primary">Submit to Help Desk</button>
		</div>
	</div>
</div>