<div id="form">
	<div class="form-group row">
		<label for="ticketTypeFormSelect" class="col-sm-2 col-form-label">Issue Type</label>
		<div class="col-sm-10">
			<select class="form-control" name="ticket-type" id="ticketTypeFormSelect" required="required">
				<option>Task</option>
				<option>Bug</option>
				<option>Epic</option>
				<option>Wish List</option>
			</select>
		</div>
	</div>

    {{ block "assignee" .Assignee }}
    <div class="alert alert-danger">
    	<h5 class="alert-header">Assignee Not Implemented</h5>
    	<p class="mb-0">This field has not yet been implemented</p>
    </div>
    {{ end }}

	<div class="form-group row">
		<label class="col-sm-2 col-form-label">Attachments</label>
		<div class="col-sm-10">
			<div class="input-group">
				<div class="custom-file">
					<input name="attachments" type="file" class="custom-file-input" id="inputGroupFile02" multiple>
					<label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose file</label>
				</div>
				<div class="input-group-append">
					<button treetop-submitter name="button" value="upload" type="button" formmethod="POST" formenctype="multipart/form-data" formaction="/test" class="input-group-text" id="inputGroupFileAddon02">Upload</button>
				</div>
			</div>

		</div>
	</div>

	<div class="form-group row">
		<div class="col-sm-2">After</div>
		<div class="col-sm-10">
			<div class="form-check">
				<input class="form-check-input" type="radio" name="after" id="after2" value="view-ticket" checked>
				<label class="form-check-label" for="after2">
					View newly created issue
				</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="radio" name="after" id="after1" value="create-another">
				<label class="form-check-label" for="after1">
					Create another ticket
				</label>
			</div>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-12 text-right">
			<a href="/ticket/software/new" title="Clear form an start again" class="btn btn-muted">Reset</a>
			<button type="submit" class="btn btn-primary">Create Ticket</button>
		</div>
	</div>
</div>