<div id="form" class="mb-5">

	<div class="form-group row">
		<label for="tags-input" class="col-sm-3 col-form-label">Components/Tags</label>
		<div class="col-sm-9 position-relative">
			<div class="px-3 py-2 border d-flex flex-wrap rounded" click-on-input="find-tag-submitter">
				<span remove-me=".remove-tag" class="rounded px-2 py-1 bg-light border border-primary text-primary small mt-1 mb-1 mr-1">desktop 1
					<a class="remove-tag pointer ml-1" aria-label="Remove tag"><span aria-hidden="true">×</span></a><input type="hidden" name="tags" value="desktop 1"></span>
				<span remove-me=".remove-tag" class="rounded px-2 py-1 bg-light border border-primary text-primary small mt-1 mb-1 mr-1">desktop 2
					<a class="remove-tag pointer ml-1" aria-label="Remove tag"><span aria-hidden="true">×</span></a><input type="hidden" name="tags" value="desktop 2"></span>
				<span remove-me=".remove-tag" class="rounded px-2 py-1 bg-light border border-primary text-primary small mt-1 mb-1 mr-1">desktop 3
					<a class="remove-tag pointer ml-1" aria-label="Remove tag"><span aria-hidden="true">×</span></a><input type="hidden" name="tags" value="desktop 3"></span>
				<span remove-me=".remove-tag" class="rounded px-2 py-1 bg-light border border-primary text-primary small mt-1 mb-1 mr-1">desktop 4
					<a class="remove-tag pointer ml-1" aria-label="Remove tag"><span aria-hidden="true">×</span></a><input type="hidden" name="tags" value="desktop 4"></span>
				<span remove-me=".remove-tag" class="rounded px-2 py-1 bg-light border border-primary text-primary small mt-1 mb-1 mr-1">desktop 5
					<a class="remove-tag pointer ml-1" aria-label="Remove tag"><span aria-hidden="true">×</span></a><input type="hidden" name="tags" value="desktop 5"></span>
				<span remove-me=".remove-tag" class="rounded px-2 py-1 bg-light border border-primary text-primary small mt-1 mb-1 mr-1">desktop 6
					<a class="remove-tag pointer ml-1" aria-label="Remove tag"><span aria-hidden="true">×</span></a><input type="hidden" name="tags" value="desktop 6"></span>
				<template id="tag-insertion" treetop-merge="insert-before-me"></template>
				<input style="flex: auto" type="search" name="tag-query" class="border border-white px-1 my-1" placeholder="find a tag">
				<button class="d-none" id="find-tag-submitter" treetop-submitter formnovalidate formmethod="GET" formaction="/ticket/systems/find-tag"></button>
			</div>
			<div id="tag-search">
				<div style="position: absolute;top: 100%;z-index: 100;left: 2.5rem;right: 2.5rem;display: block;margin-top: -7px;" dismiss-me>
					<div class="card shadow bg-light">
						<div class="card-body">
							<p class="text-muted mb-2 font-italic">Select a user:</p>
							<div class="list-group">
								<button type="button" treetop-submitter="" formaction="/ticket/software/update-assignee" name="add-assignee" value="Example User D" formnovalidate="" class="list-group-item list-group-item-action">Example User D</button>
								<button type="button" treetop-submitter="" formaction="/ticket/software/update-assignee" name="add-assignee" value="Example User E" formnovalidate="" class="list-group-item list-group-item-action">Example User E</button>
								<button type="button" treetop-submitter="" formaction="/ticket/software/update-assignee" name="add-assignee" value="Example User F" formnovalidate="" class="list-group-item list-group-item-action">Example User F</button>
								<button type="button" treetop-submitter="" formaction="/ticket/software/update-assignee" name="add-assignee" value="Example User G" formnovalidate="" class="list-group-item list-group-item-action">Example User G</button>
								<button type="button" treetop-submitter="" formaction="/ticket/software/update-assignee" name="add-assignee" value="Example User H" formnovalidate="" class="list-group-item list-group-item-action">Example User H</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group row">
		<label for="description-textarea" class="col-sm-3 col-form-label">Description</label>
		<div class="col-sm-9">
			<textarea name="description" id="description-textarea" cols="30" rows="10" class="form-control">{{ if .Description }}{{ .Description }}{{ else -}}
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.{{end}}</textarea>
		</div>
	</div>

	<div class="form-group row">
		<label class="col-sm-3 col-form-label">Attachments</label>
		<div class="col-sm-9">
			<div class="custom-file mb-2" click-on-change="upload-selected-attachment">
				<input name="file-upload" type="file" class="custom-file-input" id="inputGroupFile02" multiple limit-upload-file-mb="1MB">
				<label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose file</label>
			</div>
			<button class="d-none" id="upload-selected-attachment" treetop-submitter formnovalidate formmethod="POST" formenctype="multipart/form-data" formaction="/ticket/systems/upload-attachment"></button>

			{{/* required */}}{{ template "attachment-list" .AttachmentList }}
		</div>
	</div>

	{{ block "form-message" .FormMessage }}<div id="form-message" class="d-none"></div>{{ end }}

	<div class="forim-group row py-3 mb-4">
		<div class="col-sm-12 text-right">
			<a href="/ticket" title="Clear form an start again" class="btn btn-muted">Reset Form</a>
			<button type="submit" treetop-submitter formaction="/ticket/systems/submit" formmethod="POST" class="btn btn-primary">Create Systems Ticket</button>
		</div>
	</div>

	{{ template "notes" .Notes }}
</div>