<div id="content">
	<hr>
	<div class="container">
		<h3 class="mb-3">Ticket Preview</h3>
		<p>This is a preview of the issue information created by the form (see <a href="#notes">notes</a>)</p>

		{{ template "preview" .Preview }}

		{{ template "notes" .Notes }}

	</div>
</div>